html, body {
  margin : 0;
  padding : 0;
}
canvas {
	display: block;
	margin: auto;
	margin-top: calc(50vh - 300px);
}

a {	display: inline-block;
	position: relative;
	top: 10px;
	margin-left: calc(50% - 55px);
}
